* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #252B42;
    width: 100%;
    overflow-x: hidden;
}


.image-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('Png/dark-hero-3-cover@2x.png') no-repeat center center/cover;
}

.image-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.7) 25%, rgba(255, 255, 255, 0.8) 100%);
    mix-blend-mode: overlay;
    pointer-events: none;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    filter: brightness(50%);
}




.navbar {
    position: absolute;
    top: 20px;
    left: 117px;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

nav {
    display: flex;
    align-items: center;
    gap: 80px;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-item a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.nav-item a:hover {
    color: #ccc;
}


.login {
    color: #fff;
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 20px;
}

.login h2 {
    font-size: 23px;
}

.btn {
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    background-color: #23a6f0;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}


.headline {
    position: absolute;
    top: 30%;
    left: 117px;
    color: #fff;
    list-style: none;
}

.headline h5 {
    color: #23a6f0;
    font-weight: 700;
    font-size: 16px;
}

.headline h1 {
    font-size: 58px;
    line-height: 80px;
    max-width: 400px;
}

.headline h4 {
    font-size: 20px;
    line-height: 30px;
    max-width: 340px;
    margin-top: 20px;
}

.headline .headline-btn {
    margin-top: 40px;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    background-color: #23a6f0;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}


.layout1 {
    background-color: #252B42;
    padding: 100px 20px;
    text-align: center;
    list-style: none;
}

.layout1 h6 {
    color: #23a6f0;
    font-size: 14px;
    font-weight: 700;
}

.layout1 h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
}

.layout1 p {
    color: #fff;
    font-size: 14px;
    margin-top: 10px;
}

.white-card {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 60px;
}


.white-card img {
    left: 120px;
}

li img {
    position: absolute;
    top: 40px;
    left: 137px;
}

.white-card .inline-img1 {
    position: absolute;
    top: 1250px;
    left: 345px;
    /*40px from the left edge */

    list-style-type: none;
    background-color: #fff;

    width: 30px;
    padding: 165px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;

    margin: 20px auto;
}



.white-card .inline-img2 {
    position: absolute;
    top: 1250px;
    left: 695px;
    /* 40px from the left edge */

    list-style-type: none;
    background-color: #fff;

    width: 30px;
    padding: 165px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;

    margin: 20px auto;
}

.white-card .img-text1 {
    position: absolute;
    top: 128px;
    left: 115px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-align: center;
    padding: 20px;
    width: 180px;
    box-sizing: border-box;
    margin-left: -51px;
}

.white-card .img-text2 {
    position: absolute;
    top: 128px;
    left: 115px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-align: center;
    padding: 20px;
    width: 180px;
    height: 10px;
    box-sizing: border-box;
    margin-left: -51px;
}

.white-card p {
    position: absolute;
    color: #737373;
    width: 136px;
    text-align: center;
    top: 190px;
    left: 89px;
    font-family: 'Monserrat' sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.layout2 {
    /* position: absolute; */
    top: 190px;
    bottom: 160px;
    width: 100%;
    height: 859px;
    background-color: #252B42;
}

.layout2 h6 {
    position: absolute;
    font-size: 32px;
    color: #E74040;
    width: 100%;
    background-color: #252B42;
    top: 333%;
    padding-left: 117px;
}

.layout2 h2 {
    position: absolute;
    font-size: 40px;
    color: #fff;
    width: 100%;
    height: 859px;
    background-color: #252B42;
    top: 2129px;
    padding-left: 117px;
}

.layout2 p {

    position: absolute;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #fff;
    top: 2209px;
    width: 600px;
    padding-left: 117px;
}

.layout2 a {
    position: absolute;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #23A6F0;
    top: 2320px;
    text-decoration: none;
    padding-left: 117px;
}

.layout2 li {
    list-style: none;
}

.layout2 .img1 {
    position: absolute;
    left: 604px;
    z-index: 111;
    top: 1900px;
}

.layout2 .img2 {
    position: absolute;
    left: 999px;
    top: 1970px;
    z-index: 111;

}

.layout2 .img3 {
    position: absolute;
    left: 690px;
    top: 2220px;
    z-index: 111;

}

.layout2 .img4 {
    position: absolute;
    left: 778px;
    top: 1941px;
    align-content: center;
    list-style-type: none;
    align-content: center;
    background-color: #00087e;
    width: 5px;
    padding: 205px 199.9px;
    border-radius: 1px 70px 5px;
    box-shadow: 0 4px 8px #0000001a;
    max-width: 400px;
    margin: 20px auto;
}

.layout3 li {
    position: absolute;
    top: 2502px;
    text-align: center;
    list-style: none;
    width: 100%;
    height: 1236;
}

.layout3 {
    /* top: 160px; */
    /* bottom: 160px; */
    width: 100%;
    height: 859px;
    background-color: #252B42;
    /* align-content: center; */
}

.layout3 .head-text {
    position: absolute;
    top: 2750px;
}

.layout3 h6 {
    /* position: absolute; */
    text-align: center;
    list-style: none;
    color: #23A6F0;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: center;
    /* padding-left: 176px; */
}

.layout3 h2 {
    /* position: absolute; */
    text-align: center;
    list-style: none;
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    text-align: center;
    /* padding-left: 176px; */
}

.layout3 p {
    /* position: absolute; */
    text-align: center;
    list-style: none;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    /* padding-left: 176px; */
}

.layout3 .img-card {
    position: absolute;
    list-style: none;
    justify-content: center;
    top: 400px;
    left: -80px;
    gap: 500px;
    z-index: 111;
}

.layout3 .img-card li {

    gap: 500px;
}

.layout3 .img1 {
    position: absolute;
    left: 304px;
    z-index: 11;
    /* top:2900px; */
}

.layout3 .img4 {
    position: absolute;
    left: 441px;
    top: 2650px;
    background-color: #fff;
    width: 30px;
    padding: 220px 165px;
    border-radius: 1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 20px auto;
}

.layout3 .img2 {
    position: absolute;
    left: 704px;
    z-index: 111;
    /* top:2900px; */
}

.layout3 .img3 {
    position: absolute;
    left: 840.9px;
    top: 2650px;
    align-content: center;
    background-color: #fff;
    width: 30px;
    padding: 220px 165px;
    border-radius: 1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 20px auto;
}

.layout3 .img-card .Sale {
    position: absolute;
    left: 160px;
    top: 63px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: center;
    width: auto;
    padding: 0 10px;
    background-color: #E74040;
}

.layout3 .img-card .img-btn {
    position: absolute;
    left: 396px;
    top: 341px;
    /* padding-right: 50px; */
    border-radius: 20px;
    color: #ffffff;
    background-color: #252B42;
    gap: 15px;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2px;
}

.layout3 .img-card a {
    position: absolute;
    left: -20px;
    top: 341px;
    color: #23A6F0;
    font-family: 'Monserrat', sans-serif;
    font-size: 14px;
    font-weight: bolder;
    line-height: 24px;
    letter-spacing: 0.2px;
    width: 500px;
    text-decoration: none;
}

.layout3 .img-card .Design {
    position: absolute;
    left: -33px;
    top: 370px;
    color: #252B42;
    font-family: 'Monserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    width: 500px;
    text-decoration: none;

}

.layout3 .img-card p {
    position: absolute;
    left: 157px;
    top: 420px;
    color: #737373;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    line-height: 20px;
    letter-spacing: 0.2px;
    width: 500px;
    text-decoration: none;

}

.layout3 .img-card h6 {
    position: absolute;
    left: -40px;
    top: 480px;
    color: #737373;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
    width: 500px;
    text-decoration: none;
}

.layout3 .img-card h5 {
    position: absolute;
    left: -65px;
    top: 520px;
    color: #737373;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1px;
    width: 500px;
    text-decoration: none;
}

.layout3 .img-card .Price {
    position: absolute;
    left: -15px;
    top: 521.px;
    color: #40BB15;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1px;
    width: 500px;
    text-decoration: none;
    z-index: 111;
}

.layout3 .img-card .fa-xs {
    position: absolute;
    left: 155px;
    top: 560px;
    width: 16px;
    height: 16px;
    color: #23A6F0;
}

.layout3 .img-card .time {
    position: absolute;
    left: 175px;
    top: 554px;
    height: 16px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: 0.2px;
}
.layout3 .img-card .fa-xb {
    position: absolute;
    left: 255px;
    top: 554px;
    width: 16px;
    height: 16px;
    color: #E77C40;
}
.layout3 .img-card .book {
    position: absolute;
    left: 275px;
    top: 554px;
    height: 16px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: 0.2px;
}
.layout3 .img-card .fa-xc {
    position: absolute;
    left: 355px;
    top: 554px;
    width: 16px;
    height: 16px;
    color: #40BB15;
}
.layout3 .img-card .chart {
    position: absolute;
    left: 375px;
    top: 554px;
    height: 16px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: 0.2px;
}